# 使用 EIDE 编译后生成的 compile_commands.json（需先成功编译一次）
CompileFlags:
  CompilationDatabase: build/build_template

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress: ['*']
  ClangTidy:
    Remove: ['*']
