# 优先使用 Lwip_nosys_eied 工程编译生成的 compile_commands.json
CompileFlags:
  CompilationDatabase: ../Lwip_nosys_eied/build/build_template
  Add:
    - -std=c11
    - -DUSE_HAL_DRIVER
    - -DSTM32F429xx
    - -DUSE_STM32F429I_DISCO
    - -IUser
    - -IUser/arch
    - -IUser/sdio
    - -ILibraries/CMSIS/Include
    - -ILibraries/CMSIS/Device/ST/STM32F4xx/Include
    - -ILibraries/STM32F4xx_HAL_Driver/Inc
    - -IFreeRTOS/include
    - -IFreeRTOS/portable/RVDS/ARM_CM4F
    - -ILwIP/include
    - -ICJSON
    - -IMqtt
    - -IProject/RTE/_build_template
    - -I../Lwip_nosys_eied/.cmsis/include

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress: ['*']
  ClangTidy:
    Remove: ['*']
